﻿@charset "utf-8";

/* CSS Document */

body {}

.logo-mb img {
    max-width: 186px;
}

.newpc {
    display: block;
}

.new-mb {
    display: none;
}

@media (max-width: 1170px) {
    .nhamay {
        display: none
    }
    body {}
    .boxnewhome .item {
        min-height: 300px;
    }
}

@media (max-width: 1062px) {
    .nhamay {
        display: none
    }
    .boxnewhome .item {
        min-height: 300px;
    }
    .boxproduct-category .item-product {
        width: 25%;
        /*height: 30%;*/
    }
    .boxproduct-category-index .item-product {
        width: 25%;
    }
    #pro-info {
        margin-left: 10%;
    }
    .block-flash-sale {
        width: 1004px;
        margin-left: -250px;
    }
}

@media (max-width: 890px) {
    .rslides_nav.rslides1_nav.prev {
        text-align: center;
        line-height: 40px;
        position: absolute;
        width: 40px;
        height: 40px;
        background: #f9f9f9;
        display: block;
        left: 0;
        top: 50%;
        margin-top: -20px;
        z-index: 999;
    }
    .rslides_nav.rslides1_nav.next {
        text-align: center;
        line-height: 40px;
        position: absolute;
        width: 40px;
        height: 40px;
        background: #f9f9f9;
        display: block;
        right: 0;
        top: 50%;
        margin-top: -20px;
        z-index: 999;
    }
    .block-flash-sale {
        width: 100%;
        margin-left: 0;
    }
    .backd_popup {
        padding: 0 10px
    }
    .backd_popup .row .col-5,
    .backd_popup .row .col-7 {
        flex: 0 0 100%;
        margin-top: 0;
        max-width: 100%;
    }
    .nhamay {
        display: none
    }
    .vphanoi {
        display: none
    }
    .boxnewhome .item {
        min-height: 270px;
    }
    .newletter {}
    .tinfooter-l {
        width: 25%;
        padding: 0 30px 0 0px;
    }
    .tinfooter-r {
        width: 25%;
        padding-left: 0;
    }
    #pro-info {
        margin-left: 0%;
        margin-top: 10%;
    }
}

@media (max-width: 768px) {
    .module .detail-decrip img {
        width: 100%!important;
        height: auto!important;
    }
    .outer-video {
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }
    .outer-video iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .box-img {
        display: block;
        padding: 15px 0;
    }
    .box-img .thumbs {
        padding: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    .box-img .des {
        padding: 0;
        width: 100%;
    }
    .inner-table .noted {
        position: static;
        bottom: 0;
        left: 0;
    }
    .inner-table h3 {
        font-size: 26px;
    }
    .inner-table h3 span {
        font-size: 18px;
    }
    body {
        padding-top: 110px;
        font-size: 16px;
    }
    #header {
        position: fixed;
    }
    .nhamay {
        display: none
    }
    .vphanoi {
        display: none
    }
    .topbar {
        display: none;
    }
    .topbar-mb {
        display: block;
    }
    .searchmobile {
        display: block;
    }
    .navbar {
        display: none;
    }
    .banner-pro {
        margin-top: 0;
    }
    .col-1 {
        float: left;
        width: 100%;
    }
    .col-2 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .col-3 {
        float: left;
        width: 50%;
        margin-top: 20px;
    }
    .colnew-3 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .col-4 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .proinfo-4 {
        float: left;
        width: 100%;
        margin-top: 12px;
    }
    .col-5 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .col-6 {
        /* float: left; */
        /* width: 100%; */
        margin-top: 20px;
    }
    .col-7 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .col-8 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .proinfo-8,
    .proinfo-9,
    .proinfo-3 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .col-9 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .col-10 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .col-11 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .pdl-6 {
        /* padding-left:0; */
    }
    .pdr-6 {
        /* padding-right:0; */
    }
    .boxnewhome .item {
        min-height: 300px;
    }
    .content {
        float: left;
        width: 100%;
    }
    .content-child {
        float: left;
        width: 100%;
    }
    .sidebar {
        float: right;
        width: 100%;
    }
    .sidebar-child {
        float: right;
        width: 100%;
    }
    .module>h2 {
        font-size: 20px;
    }
    .navSide {
        display: none;
    }
    .a-name {
        font-size: 18px;
    }
    .p-des {
        font-size: 14px;
    }
    .boxnew-category {
        border-radius: 0px;
        margin-bottom: 20px;
    }
    #pro-info {
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    .navProinfo {
        width: 100%;
    }
    /*Footer*/
    .newletter {}
    .tinfooter-l {
        width: 100%;
        padding: 0 30px 0 0px;
    }
    .tinfooter-r {
        width: 100%;
        padding-left: 0;
    }
    #copyright .copy {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
    #copyright .address {
        float: left;
        width: 100%;
    }
    .media-title {
        font-size: 18px;
    }
    .media-description {
        font-size: 14px;
    }
    .boxnewhome .title-newhome {
        font-size: 18px;
    }
    .boxnewhome .item .itemname {
        font-size: 18px;
    }
    .titleHome-h2 {
        font-size: 18px;
    }
    #topfooter h2 {
        font-size: 18px;
    }
    .boxproduct-category .item-product {
        width: 50%;
        /*height: 50%;*/
    }
    .boxproduct-category-index .item-product {
        width: 50%;
    }
    .boxproduct-category .item-product .imgDes {
        display: none;
    }
    .boxproduct-category .item-product .imgMobile {
        display: inline-block;
    }
    .newpc {
        display: none;
    }
    .new-mb {
        display: block;
    }
    #pro-info {
        text-align: center;
    }
    #pro-info h1 {
        font-size: 26px;
    }
    .navProinfo a {
        font-size: 14px;
    }
    .price-pro span {
        font-size: 24px;
    }
    .material-box .mtbox {
        width: 50%;
        padding-right: 10px;
        padding-left: 10px;
        float: left;
        text-align: right;
        margin-bottom: 20px;
    }
    .cate-material,
    .cate-material .col-9 {
        margin-top: 0px;
    }
    .cate-material .col-9,
    .cate-material .col-8 {
        padding-right: 0px;
    }
    .boxMap {
        width: 100%;
    }
    .muitenMap {
        display: none;
    }
    .linedetail p iframe {
        /* width: 100%!important; */
    }
}

@media screen and (max-width: 480px) {
	.new-list .fullimg { margin-bottom: 10px;}
	.new-list { margin-left:0; margin-right: 0;}
    .txt-title,
    .total {
        font-size: 14px;
    }
    #clockdiv>div span {
        font-size: 22px;
        margin-top: 6px;
        margin-bottom: 2px;
    }
    #clockdiv>div {
        margin: 4px;
        width: 60px;
        height: 60px;
    }
    .linedetail p iframe {
        /* height: 360px!important; */
    }
    .col-6,
    .col-3,
    .col-4,
    .col-2,
    .col-5,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .logo-mb img {
        width: 140px;
    }
    .logo-mb {
        left: 50%;
        top: 10px;
        margin-left: -70px;
    }
    .boxproduct-category .item-product {
        width: 100%;
        /*height:100%;*/
    }
    .boxproduct-category-index .item-product {
        width: 100%;
    }
    .material-box .mtbox {
        width: 100%;
        float: left;
        text-align: right;
        margin-bottom: 20px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .col-3 {
        float: left;
        width: 100%;
        margin-top: 12px;
    }
}