﻿@font-face {
    font-family: 'UTM Swiss Condensed';
    src: url('../fonts/UTMSwissCondensed.eot');
    src: url('../fonts/UTMSwissCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/UTMSwissCondensed.woff2') format('woff2'), url('../fonts/UTMSwissCondensed.woff') format('woff'), url('../fonts/UTMSwissCondensed.ttf') format('truetype'), url('../fonts/UTMSwissCondensed.svg#UTMSwissCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTM Swiss Condensed';
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=latin-ext,vietnamese');
@charset "utf-8";

/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: #fff;
    font-family: 'UTM Swiss Condensed';
    color: #2c2c2c;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    font-weight: 400;
}

.google-maps {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

a {
    color: #f30;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

.bx-PageTitle {
    width: 100%;
    float: left;
}

.bx-PageTitle select {
    color: #1f1f1f;
    float: right;
    font-family: 'UTM Swiss Condensed';
    font-size: 13px;
    height: 27px;
    margin-right: 5px;
    margin-top: 6px;
    width: 150px;
}

.bx-PageTitle #pageTitle {
    float: left
}

h1#pageTitle {
    margin-bottom: 20px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.bulleted li,
.hmiText li,
.hmiTextImage .text li,
span.bullet {
    background: rgba(0, 0, 0, 0) url("../images/icon-bullet.png") no-repeat scroll 5px 7px;
    padding-left: 20px;
}

.list,
.bulleted,
.hmiText ul,
.hmiTextImage .text ul {
    margin-bottom: 16px;
}

.list li,
.hmiText li,
.hmiTextImage .text li {
    line-height: 1.4;
    overflow: hidden;
    padding-bottom: 5px;
}

.clearfix {
    clear: both;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container::before,
.container::after {
    content: " ";
    display: table;
}

.container::after {
    clear: both;
}

.container::before,
.container::after {
    content: " ";
    display: table;
}

.container::after {
    clear: both;
}

.fixtb::before,
.fixtb::after {
    content: " ";
    display: table;
}


.new-list {
	margin-left: -10px;
    margin-right: -10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.new-list .fullimg { margin-bottom: 30px;}
.new-list .banner-boxnews .inner-news, .new-list .boxnew .inner-news { width: 100%;}
.new-list .fullimg .inner-news a img { float: none;}
.boxnew .inner-news a {
	display: block; overflow: hidden;
}
.boxnew .inner-news a { max-height}
.row {
    margin-left: -10px;
    margin-right: -10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row::before,
.row::after {
    content: " ";
    display: table;
}

.row::after {
    clear: both;
}

.row::before,
.row::after {
    content: " ";
    display: table;
}

.row::after {
    clear: both;
}

.grid-control {
    margin-left: auto;
    margin-right: auto;
    padding-left: 9px;
    padding-right: 9px;
}

.grid-control::before,
.grid-control::after {
    content: " ";
    display: table;
}

.grid-control::after {
    clear: both;
}

.grid-control::before,
.grid-control::after {
    content: " ";
    display: table;
}

.grid-control::after {
    clear: both;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 10px;
    }
    .row {}
    .grid-control {}
}

@media (min-width: 1062px) {
    .container {}
    .row {}
    .grid-control {}
}

@media (min-width: 1170px) {
    .container {
        width: 1170px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {}
    .grid-control {
        width: 1170px;
    }
}


/*Main Header*/

#header {
    top: 0;
    width: 100%;
    z-index: 9998;
}

.topbar {
    background: #f7f7f7 none repeat scroll 0 0;
    line-height: 27px;
    border-bottom: 1px solid #dcdcdc
}

.topbar-mb {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    display: none
}

.logo-mb {
    position: absolute;
    left: 50%;
    top: 5px;
    z-index: 1000;
    margin-left: -93px;
}

.lang-mb {
    width: 70px;
    position: absolute;
    right: 1%;
    top: 10px;
}

.lang-mb img {
    float: left;
    opacity: 0.4;
}

.lang-mb img:hover {
    float: left;
    opacity: 1;
}

.lang-mb a:last-child {
    margin-left: -5px;
}

.searchmobile {
    background: #F7F7F7 none repeat scroll 0 0;
    display: none;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #fff;
}

.searchmobile .searchTextMb {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    float: left;
    font-size: 13px;
    height: 40px;
    text-indent: 10px;
    width: 75%;
}

.searchmobile .searchBoxMb {
    background: #333 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    text-transform: uppercase;
    width: 23%;
}

.hotline-topbar {
    width: 135px;
    line-height: 34px;
    float: left;
    background: #e66020;
    color: white;
    font-size: 14px;
    padding: 0 5px 0 5px;
}

.info-topbar {
    float: right;
    line-height: 34px;
    font-size: 12px;
}

.info-topbar li {
    list-style: none;
    float: left;
    background: url(../images/li-infotopbar.jpg) left 14px no-repeat;
    padding-left: 6px;
    margin-left: 6px;
    color: #6a3023;
}

.info-topbar li:first-child {
    background: none
}

.info-topbar li b {
    color: #e66020;
    font-weight: 500;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
}

.navbar::before,
.navbar::after {
    content: " ";
    display: table;
}

.navbar::after {
    clear: both;
}

.logo {
    float: left;
}

.logo img {
    float: left;
}

.main-navbar {
    float: right;
}

.hotline-box {
    margin-top: 10px;
    display: table;
    float: right;
    margin-right: 10px;
    text-align: right;
    line-height: 1.2;
    font-size: 14px;
    color: #f30;
}

.hotline-box b {
    font-weight: normal;
    color: #767575;
}

.searchbox {
    margin-top: 14px;
    display: table;
    float: right;
    margin-right: 10px;
}

.langubox {
    float: right;
    margin-top: 17px;
}

.searchText {
    background: url(../images/box-searchtext.png) no-repeat left center transparent;
    border: none;
    padding: 0 0 0 10px;
    float: left;
    width: 180px;
    height: 28px;
}

.searchBtn {
    background: url(../images/box-searchbtn.png) no-repeat left center transparent;
    border: none;
    padding: 3px;
    float: left;
    width: 36px;
    height: 28px;
}

.main-menu {
    float: left;
    display: table;
    margin-top: 12px;
}

.titleHome-h2 {
    font-size: 16px;
    line-height: 1.6em;
    padding: 0 6px 0 6px;
    margin-bottom: 15px;
}

.titleHome-h3 {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 1.2em;
    padding: 0 6px 0 6px;
}

.banner-pro {
    margin-top: 20px;
}

.banner-pro-2 {}

.col-1 {
    float: left;
    width: 8.33333%;
}

.col-2 {
    float: left;
    width: 16.6667%;
}

.col-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.colnew-3 {
    float: left;
    width: 25%;
}

.col-4 {
    float: left;
    width: 33.3333%;
}

.proinfo-4 {
    float: left;
    width: 33.3333%;
}

.col-5 {
    float: left;
    width: 41.6667%;
}

.col-6 {
    /* float: left; */
    /* width: 50%; */
}

.col-7 {
    float: left;
    width: 58.3333%;
}

.col-8 {
    float: left;
    width: 66.6667%;
}

.proinfo-8 {
    float: right;
    width: 66.6667%;
    position: relative;
}

.proinfo-9 {
    float: right;
    width: 75%;
    position: relative;
}

.proinfo-3 {
    float: left;
    width: 25%;
    position: relative;
}

.col-9 {
    float: left;
    width: 75%;
}

.col-10 {
    float: left;
    width: 83.3333%;
}

.col-11 {
    float: left;
    width: 91.6667%;
}

.pdl-6 {
    /* padding-left: 10px; */
}

.pdr-6 {
    padding-right: 10px;
}

.pdr-12 {
    padding-right: 12px;
}

.fullimg img {
    width: 100%;
    height: auto;
    float: left;
    transition: opacity 250ms ease-in-out 0s;
}

.fullimg img:hover {
    opacity: 0.5;
}

.banner-child {
    width: 100%;
    float: left;
}

.banner-child:last-child {
    margin-top: 16px;
}

.media-content {
    margin-top: 11px;
    min-height: 42px;
    float: left;
    width: 100%;
}

.media-content a {
    color: #231E1E;
}

.media-title {
    font-family: 'UTM Swiss Condensed';
    font-weight: 700;
    font-size: 19px;
    line-height: 1.2;
    margin-bottom: 0;
}

.media-content h3 {}

.media-content p {
    margin-bottom: 6px;
}

.media-content a.link span {
    color: #e93b3b;
}

.media-description {
    width: 100%;
    font-size: 13px;
    line-height: 1.2;
    margin: 2px 0 0;
}

.boxnewhome {
    background: #f6f6f6;
    width: 100%;
    padding: 20px 0 20px 0;
    margin-top: 15px;
}

.boxnewhome .title-newhome {
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.boxnewhome .item {
    background: #fff;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 350px;
}

.boxnewhome .item img {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

footer .col-5 {
    padding-right: 40px;
}

.boxnewhome .item .itemname {
    font-size: 14px;
    margin-top: 12px;
}


/* Footer */

#topfooter {
    /* background: none repeat scroll 0 0 #f1f1f1; */
    /* border-top:1px solid #e6e6e6; */
    /* color: #000; */
    font-weight: 300;
    min-height: 32px;
    width: 100%;
    z-index: 150;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* margin-top:40px; */
}

#topfooter h2 {
    /**/
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    width: 100%;
}

#topfooter h1 {
    float: left;
    font-weight: normal;
    width: 100%;
}

#topfooter .bxo {
    width: 100%;
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
}

#topfooter .mgtop {
    margin-top: 10px;
}

#topfooter img {
    width: 100%;
}

#topfooter .tifo {
    background: url(../images/bg-a-fo.jpg) left 8px no-repeat;
    padding-left: 10px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    color: #000;
}

.newletter {
    padding-right: 40px;
}

.newletter .dangkyemail {
    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.newletter .dangkyemail .searchText-news {
    border: 1px solid #cdcdcd;
    float: left;
    height: 32px;
    padding-left: 5px;
    padding-right: 5px;
    width: 65%;
    font-size: 13px;
    font-family: font_new
}

.newletter .dangkyemail .searchBox-news {
    background: linear-gradient(to bottom, #ff4e00, #ff4e00) repeat scroll 0 0 #ffffff;
    border: medium none;
    color: #fff;
    float: left;
    height: 32px;
    width: 35%;
    font-size: 13px;
    cursor: pointer;
}

.newletter .dangkyemail .searchBox-news:hover {}

.tinfooter-l {
    width: 16.5%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
}

.tinfooter-r {
    width: 16.5%;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.lkweb {
    display: none;
}

.csmxh {
    display: none;
}

#copyright {
    /* background: none repeat scroll 0 0 #eaeaea; */
    /* border-top: 1px solid #fff; */
    /* color: #000; */
    font-weight: 300;
    width: 100%;
    z-index: 150;
    padding-top: 5px;
    padding-bottom: 5px;
}

#copyright .copy {
    float: left;
    /* width:30%; */
}

#copyright .address {
    float: left;
    width: 69%;
    text-align: left;
}


/*Child page*/

#headerbar {
    background-color: #f2f2f2;
    border-top: 1px solid #ededed;
    height: 32px;
    margin: 0 auto 3px;
    text-align: center;
    width: 100%;
}

.border-headerbar {
    background: rgba(0, 0, 0, 0) url("../images/bg-border-headerbar.png") repeat-x scroll 0 0;
    clear: both;
    height: 4px;
    margin-top: -3px;
    text-indent: -999.9em;
    width: 100%;
}

#breadcrumb {
    color: #7f7f7f;
    float: left;
    font-size: 14px;
    line-height: 24px;
    padding-top: 4px;
}

#breadcrumb a {
    background: rgba(0, 0, 0, 0) url("../images/icon-breadcrumb.png") no-repeat scroll 100% 11px;
    color: #7f7f7f;
    float: left;
    font-size: 14px;
    margin-right: 7px;
    padding-right: 13px;
    text-decoration: none;
}

#breadcrumb a:last-child {
    background: none;
}

.main-content {
    margin-top: 10px;
}

.sidebar {
    width: 23%;
    float: left;
}

.navSide {
    /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fff 10%, #f6f6f6 100%) repeat scroll 0 0;*/
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 0 14px 4px;
    position: relative;
    width: 100%;
}

.navSide a:first-child {
    border: 0 none;
}

.navSide a {
    color: #414141;
    display: block;
    line-height: 1.3em;
    overflow: hidden;
    padding: 10px 0;
    text-decoration: none;
    border-top: 1px solid #e5e5e5
}

.navSide a img {
    float: left;
    margin-right: 10px;
    transition: opacity 250ms ease-in-out 0s;
}

.navSide a:hover img {
    opacity: 0.5;
}

.navSide a:hover span {
    color: #f30;
}

.navSide img+span {
    float: left;
    margin-top: 25px;
    width: 127px;
}

.module {
    border: 1px solid #e5e5e5;
    /* border-radius: 8px; */
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.module img {}

.modulenew {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.sidebar .module h2,
.sidebar-child .module h2 {
    color: #494545
}

.module>h2,
.modulenew>h2 {
    color: #666;
    font-size: 18px;
    margin-bottom: 0;
    margin: 13px 14px 0;
    color: #2c2c2c;
    text-align: justify;
    line-height: 1.2;
}

.module>h1,
.modulenew>h1 {
    color: #666;
    font-size: 24px;
    margin-bottom: 0;
    padding: 13px 14px 0;
    color: #f30;
    text-align: justify;
    line-height: 1.2;
}

.module h2.btmBorder {
    padding-bottom: 12px;
}

.module .inner::after,
.modulenew .inner::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.module .inner,
.modulenew .inner {
    padding: 14px;
}

.module ul,
.modulenew ul {
    margin: 0;
    padding: 0;
}

.module ul li,
.modulenew ul li {
    list-style: none
}

.module .bulleted li,
.modulenew .bulleted li {
    background-position: 5px 9px;
}

.content {
    width: 75%;
    float: right;
}

.banner-category img {
    width: 100%;
    float: left;
    border-radius: 8px;
}

.boxnew-category {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    float: left;
    margin-top: 15px;
    padding: 10px 0 10px 0;
}

.a-name {
    color: #f30;
    margin-top: 5px;
    float: left;
    width: 100%;
    height: 40px;
}

.p-des {
    float: left;
    text-align: justify;
    width: 100%;
}

.owl-item:last-child .itemnew {
    border: none;
}

.owl-item .itemnew {
    border-right: 1px solid #e5e5e5
}

.boxnew-category .itemnew {
    padding: 0 10px 0 10px;
    float: left;
}

boxproduct-category-index {
    width: 100%;
    padding-top: 17px;
    float: left;
}

.boxproduct-category-index .item-product {
    width: 20%;
    padding: 10px;
    float: left;
    text-align: center;
}

.boxproduct-category-index .item-product img {
    width: 100%;
    height: auto;
    transition: opacity 250ms ease-in-out 0s;
}

.boxproduct-category-index .item-product span {
    color: #414141;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 1.2;
    margin-top: 5px;
}

.boxproduct-category-index .item-product a:hover img {
    opacity: 0.5;
}

.boxproduct-category-index .item-product a:hover span {
    color: #f30;
}

.boxproduct-category {
    width: 100%;
    padding-top: 10px;
    float: left;
    margin-top: 20px;
}

.no-mg {
    margin-top: 0px;
}

.boxproduct-category.border-p {
    border-top: 3px solid #f2f2f2;
}

.boxproduct-category .bgH2Title {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
    background-repeat: repeat-x;
    padding: 8px 8px;
    text-transform: uppercase;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.boxproduct-category h2 {
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    float: left;
    color: #494545;
}

.boxproduct-category .morecate-pro {
    float: right;
    font-size: 14px;
    text-transform: capitalize;
}

.h1Title {
    font-size: 16px;
    text-transform: uppercase;
}

.boxproduct-category .item-product {
    width: 25%;
    padding: 10px;
    float: left;
    text-align: center;
    /*height: 250px;*/
}

.img-class {
    /*height:100%;*/
}

.itemCateEnd {
    margin-right: 0px;
}

.boxproduct-category .item-product img {
    width: 80%;
    height: auto;
    transition: opacity 250ms ease-in-out 0s;
}

.boxproduct-category .item-product .imgDes {
    display: inline-block;
}

.boxproduct-category .item-product .imgMobile {
    display: none;
}

.boxproduct-category .item-product span {
    color: #414141;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 5px;
    height: 30px;
}

.boxproduct-category .item-product a:hover img {
    opacity: 0.5;
}

.boxproduct-category .item-product a:hover span {
    color: #f30;
}

.boxproduct-project .item-product {
    float: left;
    text-align: center;
}

.boxproduct-project .item-product img {
    width: 100%;
    height: auto;
    transition: opacity 250ms ease-in-out 0s;
}

.boxproduct-project .item-product span {
    color: #414141;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 1.2;
    margin-top: 5px;
}

.boxproduct-project .item-product a:hover img {
    opacity: 0.5;
}

.boxproduct-project .item-product a:hover span {
    color: #f30;
}

.slider-product {
    margin-top: 5px;
}

#slider-material {
    margin-top: 10px;
}

#pro-info {
    width: 225px;
    z-index: 3;
    margin-top: 40PX;
    margin-left: 0;
    display: table;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 15px;
}

#pro-info h1 {
    /* background-color: #F26522; */
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    /* padding:10px 15px 10px 15px; */
    COLOR: #2c2c2c;
    font-weight: 700;
    margin-bottom: 5px;
}

#pro-info .price {
    font-size: 16px;
    margin: 10px 0;
}

#pro-info p {
    margin: 10px 0;
}

#pro-info .price span {
    font-size: 11px;
    text-decoration: line-through;
}

#pro-info .hotline {
    color: #2c2c2c;
    display: block;
    margin-bottom: 10px;
}

.btn-buy {
    display: block;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    color: #fff;
    background: #fbaf5d;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.navProinfo {
    background-color: #fff;
    clear: both;
    width: 225px;
}

.navProinfo a:first-child {
    border: none;
}

.navProinfo a {
    border-top: 1px solid #e6e6e6;
    color: #414141;
    display: block;
    font-size: 14px;
    margin: 0 20px;
    padding: 11px 0 7px;
    text-decoration: none;
}

.price-pro {
    padding: 10px 20px;
    width: 100%;
    text-align: center
}

.price-pro span {
    background: #f2f2f2;
    color: #f30;
    display: block;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

.price-pro i {
    display: block;
    font-size: 13px;
    font-style: italic;
}

.content-child {
    float: left;
    width: 75%;
}

.sidebar-child {
    float: right;
    width: 23%
}

.btmBorder {
    border-bottom: 1px solid #e5e5e5;
}

.gallery-box {
    padding: 0 30px 0 30px;
}

.item-gallery {
    padding: 0 20px 0 20px;
}

.item-gallery img {
    /*border:1px solid #e5e5e5;*/
}

.project-box {
    padding: 0 10px 0 10px;
}

.item-project {
    padding: 0 20px 0 20px;
}

.item-project img {
    border: 1px solid #e5e5e5;
}

.h1Title2 {
    font-size: 18px;
    /* padding:0 15px; */
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.h1Title2.mt-2 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.boxnew {
    padding: 0px 15px 0 15px;
    margin-bottom: 20px;
}

.boxnew .inner-news {
    padding: 1px;
    float: left;
    border: 1px solid #efefef;
    min-height: 310px;
}

.boxnew .a-name,
.banner-boxnews .a-name {
    padding: 0 10px;
}

.boxnew .p-des,
.banner-boxnews .p-des {
    padding: 0 10px 10px 10px;
    height: 45px;
}

.boxnew img {}

.banner-boxnews {
    padding: 0 15px;
    margin-bottom: 20px;
    height: 507px;
}

.banner-boxnews .inner-news {
    padding: 1px;
    float: left;
    border: 1px solid #efefef;
}

.detailnews {
    text-align: justify;
    line-height: 22px;
}

.detailnews table[border="1"] {
    border-collapse: collapse;
    color: #333;
}

.detailnews table[border="1"] tr {
    background-color: #fff;
}

.detailnews table[border="1"] th,
.detailnews table[border="1"] td {
    vertical-align: top;
    padding: 5px 10px;
    border: 1px solid #333;
}

.detailnews table[border="1"] th {
    background-color: #ccc;
    color: black;
    font-weight: bold;
}

.detailnews p {
    margin-bottom: 5px;
}

.detailnews strong,
.detailnews b {
    font-weight: bold;
}

.detailnews img {
    max-width: 100% !important;
    height: auto;
}

.material-box {
    display: table;
}

.material a {
    color: #494545;
}

.material a:hover {
    color: #f30;
}

.material-box .mtbox {
    width: 25%;
    padding-right: 20px;
    float: left;
    text-align: right;
    margin-bottom: 20px;
}

.material-box .mtbox a {
    color: #454545;
}

.cate-material {
    margin-top: 12px;
}

.cate-material.bt10 {
    margin-bottom: 12px;
}

.cate-material .col-6,
.cate-material .col-3 {
    padding: 0 15px;
    margin-bottom: 15px;
}

.cate-material .bdradius {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 4px;
    float: left;
}

.cate-material .a-material {
    color: #666;
    font-size: 16px;
    margin-bottom: 3px;
}

.cate-material img {
    margin-top: 5px;
}

.catelogueBox {
    margin-top: 12px;
}

.cate-catelogueBox .bt10 {
    margin-bottom: 12px;
}

.catelogueBox .col-4 {
    padding: 0 15px;
    margin-bottom: 15px;
}

.catelogueBox .bdradius {
    width: 100%;
    float: left;
    text-align: center;
}

.catelogueBox .a-catalogue {
    color: #666;
    font-size: 18px;
    margin-top: 3px;
}

.catelogueBox img {
    margin-bottom: 5px;
}


/*FAQ*/

.accordion_head {
    cursor: pointer;
    font-size: 14px;
    margin: 0 0 1px;
    padding: 7px 11px;
}

.plusminus {
    float: left;
    width: 15px;
    font-weight: bold;
}

.accordion_body p {
    margin: 0;
    padding-left: 25px;
}


/*Lien He*/

#thongtinlienhe {
    border-spacing: 5px;
    float: left;
    width: 85%;
}

#thongtinlienhe tr {}

#thongtinlienhe .namelienhe {
    vertical-align: top;
    width: 25%;
}

#thongtinlienhe .inputlienhe {
    vertical-align: top;
    width: 75%;
}

#thongtinlienhe .large {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 28px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 100%;
}

#thongtinlienhe .medium {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 28px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 70%;
}

#thongtinlienhe .medium {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 28px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 40%;
}

#thongtinlienhe textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 100px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 100%;
}

#thongtinlienhe input[type="submit"],
#thongtinlienhe input[type="reset"] {
    background-color: #ff4e00;
    border: medium none;
    color: #ffffff;
    height: 30px;
    margin-right: 5px;
}

#loadingpage {
    background-color: #ffffff;
    background-image: url("../images/loading.gif");
    background-position: center 170px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
    height: 1816px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 13;
}

#boxdetail {
    width: 100%;
    display: table;
}

#boxdetail .detail-decrip {
    float: left;
    width: 100%;
}

#boxdetail .detail-decrip h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

#boxdetail .detail-decrip b {
    color: #ff4e00;
    padding-left: 0;
}

#boxdetail .detail-decrip .linedetail {
    width: 100%;
    display: table;
    margin-bottom: 20px;
    margin-top: 20px;
}

#boxdetail .detail-decrip .colorpro {
    float: left;
    margin-top: 5px;
    width: 100%;
}

#boxdetail .detail-decrip .colorpro img {
    border: 1px solid #ccc;
    display: inline-block;
    float: left;
    height: 50px;
    margin-bottom: 3px;
    margin-right: 3px;
    width: 50px;
}

.navAddress {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.navAddress li {
    list-style: none;
    float: left;
    margin-right: 7px;
    background: url(../images/icon-a-adress.png) left center no-repeat;
    padding-left: 7px;
}

.navAddress li a {
    color: #494545;
    opacity: 0.5;
}

.navAddress li:first-child {
    background: none;
}

.navAddress li a:hover,
.navAddress li a.active {
    color: #f30;
    text-decoration: underline;
    opacity: 1.0;
}

.adressbox {
    margin-top: 10px;
    float: left;
}

.tabAdress {
    display: none;
}

.display {
    display: table;
}

.adressbox .line-adress {
    width: 100%;
    float: left;
    font-size: 12px;
}

.adressbox .line-adress .icon-location {
    background: url(../images/icon-location.png) left 2px no-repeat;
    padding-left: 25px;
    float: left;
    margin-right: 5px;
}

.adressbox .line-adress .icon-phone {
    background: url(../images/icon-phone.png) left center no-repeat;
    padding-left: 25px;
    float: left;
    margin-right: 5px;
}

.adressbox .line-adress .icon-fax {
    background: url(../images/icon-fax.png) left center no-repeat;
    padding-left: 25px;
    float: left;
    margin-left: 20px;
    margin-right: 5px;
}

.adressbox .line-adress .icon-mobile {
    background: url(../images/icon-mobile.png) left center no-repeat;
    padding-left: 25px;
    float: left;
    margin-right: 5px;
}

.adressbox .line-adress .icon-email {
    background: url(../images/icon-email.png) left center no-repeat;
    padding-left: 25px;
    float: left;
    margin-right: 5px;
}

.muitenMap {
    background: url(../images/icon-muiten.png) left center no-repeat;
    width: 20px;
    height: 27px;
    position: absolute;
    top: 60px;
    left: -15px;
}

.boxMap {
    background: #d1d2d4;
    width: 90%;
    padding: 10px;
    position: relative;
}

.boxMap img {
    width: 100%;
    height: auto;
}

.fb-icon {
    background: url(../images/icon-fb.png) no-repeat left center;
    padding-left: 40px;
    display: block;
    color: #494545;
    margin-left: 20px;
    line-height: 25px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.yb-icon {
    background: url(../images/icon-youtube.png) no-repeat left center;
    padding-left: 40px;
    display: block;
    color: #494545;
    margin-left: 20px;
    line-height: 25px;
    float: left;
    width: 100%;
}

.fb-icon:hover,
.yb-icon:hover {
    text-decoration: underline;
}

#hotrotructuyen {
    width: 61px;
    height: 61px;
    position: fixed;
    /*right: 10px;*/
    left: 52px;
    top: auto;
    bottom: 11pt;
    display: inline;
    /*background: url(/Content/TheMetro/Images/themetro-hotline.jpg) no-repeat left center;
    background-color: #DCB327;*/
    z-index: 1001;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#hotrotructuyen p {
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 15px;
    text-align: right
}

.popup {
    color: #fa3c4c !important;
    font-weight: bold;
}

.popup a,
.popup a:hover,
.popup a:visited {
    color: #000;
}

.popup a {
    font-size: 15px;
    font-weight: bold;
    line-height: 2em;
}

.phone-ring {
    position: fixed;
    background-color: transparent;
    width: 61px;
    height: 61px;
    cursor: pointer;
    z-index: 9999999999;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    /*right: -20px;
    top: 70px;*/
    bottom: 48pt;
    left: 0;
    display: block;
}

.phone-ring .circle-lv1 {
    width: 60px;
    height: 60px;
    top: 46px;
    left: 48px;
    position: absolute;
    background-color: transparent;
    border-radius: 100% !important;
    border: 2px solid rgba(0, 255, 63, 1);
    border: 2px solid rgba(0, 255, 63, 1);
    opacity: .1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.phone-ring .circle-lv2 {
    width: 60px;
    height: 60px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: rgba(0, 255, 63, 1);
    border-radius: 100% !important;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    /*animation-iteration-count: infinite;*/
}

.phone-ring .icon-phone {
    width: 50px;
    height: 50px;
    top: 54px;
    left: 54px;
    position: absolute;
    background: rgba(0, 255, 63, 1);
    border-radius: 100% !important;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.phone-ring .icon-phone i {
    color: #ffffff;
    /*animation-name: change-color;
    animation-duration: 4s;*/
    /*animation-iteration-count: infinite;*/
    font-size: 40px;
    padding: 4px 3px 0 0;
}

@-webkit-keyframes change-backgound {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes change-color {
    0% {
        color: white;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

.logo,
.logo img {
    width: 130px;
}

address a {
    display: block;
    color: #eee;
}

address p {
    color: #eee;
}

footer {
    background: #959595;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
}

#topfooter h2 {
    margin-bottom: 5px;
    float: none;
}

.list-social {
    display: block;
}

#copyright .copy {
    float: none;
    border-top: 1px solid #ccc;
    padding: 10px 0 0 0
}

.media-content a.link span {
    transition: all .2s ease-in-out 0s;
}

.media-content a.link:hover span {
    margin-left: 3px;
}

.list-social {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-social li {
    display: inline-block;
}

.i-facebook {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/i-facebook.png) center no-repeat;
    background-size: cover;
}

.i-youtube {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/i-youtube.png) center no-repeat;
    background-size: cover;
}

.sf-sub-indicator {
    display: none;
}

.bordered {
    border-radius: 2px;
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
}

.media-content p.price {
    margin-bottom: 5px;
    line-height: 1;
}

.media-content p.old-price {
    font-size: 12px;
    margin-bottom: 0;
    height: 22px;
}

.media-content p.old-price span {
    color: #7A7979;
    text-decoration: line-through;
}

.media-content p.old-price i {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    background: #f89b3d;
    color: #fff;
}

.media-content p.price span {
    text-decoration: line-through;
    display: inline-block;
    margin-left: 5px;
}

.status {
    display: block;
}

.status.new {
    color: #fdc449;
}

.status.sale {
    color: #ff7a7a;
}

.status.end {
    color: #ff7a7a;
}

.fullimg {
    margin-bottom: 10px;
}

.fullimg .media-content {
    text-align: center;
}

.pagging {
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0 0 0;
    list-style: none;
}

.pagging li {
    display: inline-block;
    margin: 0 2px;
}

.pagging li a {
    color: #333;
    padding: 0 3px;
}

.i-next {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/i-next.png) center no-repeat;
    background-size: cover;
}

.i-prev {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/i-prev.png) center no-repeat;
    background-size: cover;
}

.des_1 {
    padding: 14px;
}

.embed-responsive-16by9 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.embed-responsive-16by9 iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.backd_popup {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: none;
}

.backd_popup .popup {
    max-width: 500px;
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 20px;
    background: #FFF;
    border-radius: 3px;
}

body.show_popup .backd_popup {
    display: block;
}

.popup h4 {
    color: #fbaf5d;
    font-size: 20px;
    margin-bottom: 20px;
}

.row .col-5 {
    -ms-flex: 0 0 41.666667%;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    float: none;
}

.row .col-7 {
    -ms-flex: 0 0 58.333333%;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    float: none;
    width: 100%;
}

.txt-1 {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
}

.txt-2 {
    height: 80px;
    padding: 10px 15px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
    resize: none;
}

.btn-gui {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    border: 0;
    color: #fff;
    background-color: #fbaf5d;
    padding: 0 30px;
    display: block;
    width: 120px;
}

.btn-close-popup {
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 17px;
    height: 17px;
    background-color: #000;
    text-align: center;
    /* line-height: 8px; */
    color: #fff;
    font-size: 11px;
    padding: 3px;
    border-radius: 50%;
}

.popup {
    position: relative;
}

.inner-table {
    color: #2c2c2c;
    font-weight: 400;
    padding-top: 5px;
    height: 100%;
    position: relative;
}

.inner-table p {
    font-family: Roboto;
    margin-bottom: 10px;
}

.inner-table p strong,
.inner-table h3 {
    font-weight: 700;
    font-family: Roboto;
}

.inner-table h3 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.inner-table h3 span {
    display: block;
    font-size: 20px;
}

.inner-table .noted span {
    display: block;
}

.inner-table .noted {
    position: absolute;
    bottom: 0;
    left: 0;
}

.zoomContainer {
    z-index: 99999;
}

.main-content.row {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.rslides_nav.rslides1_nav.prev {
    text-align: center;
    line-height: 40px;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f9f9f9;
    display: block;
    left: 0;
    top: 220px;
    margin-top: 0;
    z-index: 999;
}

.rslides_nav.rslides1_nav.next {
    text-align: center;
    line-height: 40px;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f9f9f9;
    display: block;
    right: 0;
    top: 220px;
    margin-top: 0;
    z-index: 999;
}

.rslides_nav.rslides1_nav.prev:hover,
.rslides_nav.rslides1_nav.next:hover {
    background: #eee;
}

.rslides_nav.rslides1_nav.next:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #000;
}

.rslides_nav.rslides1_nav.prev:before {
    content: "\f104";
    font-family: "FontAwesome";
    color: #000;
}

.block-flash-sale {
    text-align: center;
    background: #ebebeb;
    padding: 15px;
    color: #000;
    font-size: 16px;
    width: 1150px;
    margin-left: -286px;
}

.txt-title,
.total {
    font-family: arial;
}

.txt-title span {
    color: #ff7473;
    text-transform: uppercase;
}

#clockdiv {
    padding: 5px 0;
}

#clockdiv>div {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    display: inline-block;
    margin: 7px;
}

#clockdiv>div span {
    color: #ff7473;
    font-size: 30px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 2px;
    display: block;
    text-align: center;
    height: 22px;
}

.total span {
    display: inline-block;
    padding: 0px 4px;
    border-radius: 2px;
    background: #fff;
    color: #ff7473;
    vertical-align: middle;
    font-size: 14px
}

.proinfo-4 p.old-price {
    font-size: 12px;
    margin-bottom: 0;
    height: 22px;
}

.proinfo-4 p.old-price span {
    color: #7A7979;
    text-decoration: line-through;
}

.proinfo-4 p.old-price i {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    background: #f89b3d;
    color: #fff;
}

.box-img {
    padding: 10px 0;
    display: flex;
}

.box-img .thumbs {
    width: 50%;
    padding-right: 15px;
}

.box-img-right .thumbs {
    padding-right: 0;
    order: 13;
    padding-left: 15px;
}

.box-img .thumbs img {
    width: 100%;
}

.box-img .des {
    width: 1%;
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding-left: 15px;
}

.box-img-right .des {
    padding-right: 15px;
    padding-left: 0;
}