@font-face {
    font-family: 'UTM Swiss Condensed';
    src: url('UTMSwissCondensed.eot');
    src: url('UTMSwissCondensed.eot?#iefix') format('embedded-opentype'),
        url('UTMSwissCondensed.woff2') format('woff2'),
        url('UTMSwissCondensed.woff') format('woff'),
        url('UTMSwissCondensed.ttf') format('truetype'),
        url('UTMSwissCondensed.svg#UTMSwissCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

