/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;


}
.sf-menu {
	/*line-height: 1.0;*/
	list-style: none;
	float:right;
	margin-top:10px;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 200px;
}
.sf-menu ul.megamenu {
	width: 425px;
	/*margin-left: -68px;*/
}
.sf-menu ul li {
	/*width: 100%;*/
	list-style: none;
	float: none;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu .li {
	float: left;
	position: relative;
	float:left;
	margin-left:20px;
}
.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu li.sfHover a.sf-with-ul, .sf-menu li.sfHover:hover a.sf-with-ul, .sf-menu li.sfHover:active a.sf-with-ul, .sf-menu li.sfHover:focus a.sf-with-ul {
	/*background-color: #ebebeb;*/
	color: #000000;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0;
	top: 33px; /* match top ul list item height */
	z-index: 99;
	color: #000000 !important;
	font-size:12px !important;
}
/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	width: 100%;
}
.sf-menu a {
	font-family: "font_new";
    font-size: 14px;
    letter-spacing: 0;
    font-weight:500;
    padding:3px 10px 3px 10px;
}
.sf-menu ul a {
	border-right: none;
}
.sf-menu a, .sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/
	color: #414141;
}
.sf-menu li li {

    color: #333;
	
}
.sf-menu li .droparrow
{
	background:url(bg-megamenu.png) repeat-x scroll 0 0 !important;
	border:1px solid #e5e5e5;
}
.sf-menu li li a {
	background-image:none;
	border-top: none;
	padding: 10px;
}
.sf-menu li li a:hover {
	color: #f30 !important;
}
.sf-menu a:hover{
	outline:		0;
	/*background-color: #ebebeb;*/
	color: #f30 !important;
}
/*.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
	background-color: #ebebeb;
	color: #000000 !important;
}*/
.sf-menu ul a:focus, .sf-menu ul a:hover, .sf-menu ul a:active {
	/*background: #ebebeb;*/
	outline: 0;
	color: #333 !important;
}
/*** arrows **/
.sf-menu a.sf-with-ul {
	/*padding-right:  2.25em;*/
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
    
}
.sf-menu a.sf-with-ul:hover, .sf-menu li.sfHover a.sf-with-ul{
    background:#f4f4f4;
    border-radius:4px;
    color:#f30 !important;
}
.sf-menu a.sf-with-ul:focus, .sf-menu a.sf-with-ul:active, .sf-menu li.sfHover a.sf-with-ul:hover, .sf-menu li.sfHover a.sf-with-ul:focus, .sf-menu li.sfHover a.sf-with-ul:active {
	color: #f30 !important;
}
.sf-sub-indicator {
	background: url(dropdown-arrow.png) rgba(0, 0, 0, 0) no-repeat scroll 0 0;
	position: absolute;
	display: block;
	right: 10px;
	top:25px !important; /* IE6 only */
	width: 15px;
	height: 9px;
	z-index:100;
	overflow: hidden;

}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top: .8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
	background-position:0; /* arrow hovers for modern browsers*/
}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	background-position:  -10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
	background-position:  0 0;
}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
/*** shadows for all but IE6 ***/
.sf-shadow ul {
	
	
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent !important;
}
/*
Mega Column Styles
*/
.sf-menu li.sfHover ul.megamenu li {
	background-color: #f4f4f4 !important;
}
.megawrapper {
	background:url(bg-megamenu.png) repeat-x scroll 0 0 !important;
	padding: 0px 0px;
	width: 425px;
	overflow: hidden;
	border:1px solid #e5e5e5;
}
.megacolumn {
	width: 140px;
	float: left;
	min-height: 235px;
	background-color: transparent !important;
	background: none !important;
	border-right:1px solid #e5e5e5;
}
.megacolumn:last-child
{
	border-right:none;
}
.megacolumn-content {
	padding: 0 0 15px 0;
	margin: 0 10px;
    width: 100px;
}
.megacolumn-content.last {
	padding: 0 !important;
	border-right: none;
}
.megacolumn-content p {
	margin-bottom: 16px;
}
.megafooter {
	clear: both;
	padding: 12px;
	display:none;
}
#mega_c1, #mega_c2 {
	border-right: 1px dotted #fff;
	overflow: hidden;
}
.clearfloat {
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}
.sf-menu ul .megawrapper ul {
	background-color: transparent !important;
	background-image: none !important;
	position: relative;
	top: auto;
	width: auto;
}
.sf-menu ul .megawrapper .megacolumn-content .divider {
	clear: both !important;
	margin: 0 0 15px;
		
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari & Chrome rules here */
  .sf-menu ul .megawrapper .megacolumn-content .divider {
	clear: both !important;
	margin: 0 0 15px;
	height: 1px;
		
	}
}
.sf-menu ul .megawrapper .megacolumn-content h6 {

	padding: 10px 0 5px 0 !important;
	margin: 0px 0 5px 0 !important;
    font-size:14px;
    font-weight:500;
    color:#767575
}
.sf-menu ul .megawrapper .megacolumn-content ul{
	display:block !important;
	border-radius: 0  !important;
	background-color: transparent !important;
	width: 110px;
	*margin: 0px 0 0px 0 !important;/* for ie7 */
	*padding: 0px 0 10px 0 !important;/* for ie7 */
}
.sf-menu ul .megawrapper .megacolumn-content ul li,
.sf-menu ul .megawrapper .megacolumn-content ul li:hover {
	background-color: transparent !important;
	padding:10px 0 10px 0;
}
.sf-menu ul .megawrapper .megacolumn-content ul li a {
	background-color: transparent !important;
	font-weight:normal;
	line-height:none;
	padding: 0;
 	margin: 0 0 0 0;
	display: inline;
}
.sf-menu ul .megawrapper .megacolumn-content ul li a:hover {
	background-color: transparent !important;
	background: none !important;
	border-bottom: none;
}

.sf-menu ul .megawrapper .megacolumn-content ul.long li {
	float: left;
	width: 75px !important;
}

/*Responsive menu*/
@media (max-width: 890px) {
.sf-menu .li {
    
    margin-left: 20px;
   
}
.sf-menu a.sf-with-ul {
	/*padding-right:  2.25em;*/
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
    padding:0px;
    
}
.sf-menu a.sf-with-ul:hover{
    background:#fff;
    border-radius:0px;
}
}